[core]
	ignorecase = false
[pull]
  	rebase = false 
[user]
	email = masaki.yoshiiwa@gmail.com
	name = Masaki Yoshiiwa
[alias]
	st = status
	co = commit
	br = branch
	cm = commit
	ch = checkout
	di = diff
	br-d = !git pull origin main && git branch --merged | grep -v 'main' | xargs git branch -d
	br-p = !git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D