[core]
	ignorecase = false
	precomposeunicode = true
[color]
	ui = true
[pull]
	ff = only
[init]
	defaultBranch = main
[user]
	email 	= $GIT_EMAIL
	name 	= $GIT_NAME
[alias]
	a 		= add
	st 		= status
	c 		= commit
	cm 		= commit -m
	cmm 	= commit -m --amend
	ck 		= checkout
	ckb		= checkout -b
	br 		= branch
	ch 		= checkout
	di 		= diff
	rlc 	= reset HEAD~

	# Branch
	feat 	= "!f() { git checkout -b feat/$1; }; f"
    fix 	= "!f() { git checkout -b fix/$1; }; f"
	chore 	= "!f() { git checkout -b chore/$1; }; f"
	hotfix 	= "!f() { git checkout -b hotfix/$1; }; f"

	# Rebase
	rb 		= "!git fetch origin main:main && git rebase main"
	
	# Log
	lg 		= log --graph --oneline --decorate
	hist 	= log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	last 	= log -1 HEAD --stat

	# Branch
	br-d 	        = !git branch | grep -v "main" | xargs git branch -d
	br-p 	        = !git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
	delete-all = "!f() { branches=$(git branch | grep -v -E \"(main|master)\"); if [ -n \"$branches\" ]; then echo \"Target:\"; echo \"$branches\"; read -p \"Are you sure (y/N): \" -n 1 -r; echo; [[ $REPLY =~ ^[Yy]$ ]] && echo \"$branches\" | xargs git branch -D; else echo \"No target found.\"; fi; }; f"
	delete-merged = "!f() { branches=$(git branch --merged | grep -v -E \"(main|master|develop)\"); if [ -n \"$branches\" ]; then echo \"Target:\"; echo \"$branches\"; read -p \"Are you sure? (y/N): \" -n 1 -r; echo; [[ $REPLY =~ ^[Yy]$ ]] && echo \"$branches\" | xargs git branch -d; else echo \"No target found.\"; fi; }; f"
	unmerged = !git branch --no-merged | grep -v -E \"(main|master|develop)\"
