[core]
	ignorecase = false
[pull]
  	rebase 	= false 
	ff 		= only
[init]
	defaultBranch = main
[user]
	email 	= $GIT_EMAIL
	name 	= $GIT_NAME
[alias]
	a 		= add
	st 		= status
	c 		= commit
	cm 		= commit -m
	cmm 	= commit -m --amend
	ck 		= checkout
	ckb		= checkout -b
	br 		= branch
	ch 		= checkout
	di 		= diff
	rlc 	= reset HEAD~
	rb 		= "!git fetch origin main:main && git rebase main"
	br-d 	= !git pull origin main && git branch --merged | grep -v 'main' | xargs git branch -d
	br-p 	= !git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
